# Dependencias
node_modules/

# Archivos generados por Next.js
.next/
out/

# Variables locales y credenciales
.env
.env.local
.env.*.local

# Registros de npm
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db